h1 {
    font-family: Impact, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 2.5em;
    margin: 20px;
}

.container {
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#scoreboard {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    margin-top: 50px;
    text-align: center;
}

#highScoresTable {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#highScoresTable th, #highScoresTable td {
    padding: 12px;
    border: 1px solid #202020;
    text-align: center;
}

#highScoresTable th {
    background-color: #132fbb;
    color: #ffffff;
}

#highScoresTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.boton {
    background-color: #132fbb;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.boton:hover {
    background-color: #0e247d;
}