h1 {
    font-family: Impact, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3em;
    margin: 5px;
}

.container {
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton {
    background-color: #132fbb;
    color: #ffffff;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 10px;
    margin-bottom: 10px;
    background-color: #202020;
    padding: 2%;
    border-radius: 50%;
}

#green {
    width: 120px;
    height: 120px;
    background-color: #1eaa2f;
    border-radius: 100% 0 0 0;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

#red {
    width: 120px;
    height: 120px;
    background-color: #ca0a0a;
    border-radius: 0 100% 0 0;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

#yellow {
    width: 120px;
    height: 120px;
    background-color: #e7e41f;
    border-radius: 0 0 0 100%;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

#blue {
    width: 120px;
    height: 120px;
    background-color: #216adf;
    border-radius: 0 0 100% 0;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.game-button {
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s ease, background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.game-button.active {
    opacity: 1;
    transform: scale(1.1); /* Hace que el botón se agrande un poco */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8); /* Agrega un resplandor */
}

/* Efectos específicos para cada botón cuando está activo */
#green.active {
    background-color: #2ecc71; /* Verde más brillante */
    box-shadow: 0 0 20px rgba(46, 204, 113, 0.8); /* Resplandor verde */
}

#red.active {
    background-color: #e74c3c; /* Rojo más brillante */
    box-shadow: 0 0 20px rgba(231, 76, 60, 0.8); /* Resplandor rojo */
}

#yellow.active {
    background-color: #f1c40f; /* Amarillo más brillante */
    box-shadow: 0 0 20px rgba(241, 196, 15, 0.8); /* Resplandor amarillo */
}

#blue.active {
    background-color: #3498db; /* Azul más brillante */
    box-shadow: 0 0 20px rgba(52, 152, 219, 0.8); /* Resplandor azul */
}

.score {
    font-family: Impact, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #535353;
    margin-bottom: 5px;
}

#gameOverMessage p {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 1000;
    color: red;
}

#goToMenu {
    background-color: #132fbb;
    color: #ffffff;
    padding: 6px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.hidden {
    display: none;
}