h1 {
    font-family: Impact, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3em;
    margin: 5px;
}

.container {
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}


#gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 10px;
    margin-bottom: 10px;
    background-color: #202020;
    padding: 2%;
    border-radius: 50%;
}

#green {
    width: 120px;
    height: 120px;
    background-color: #1eaa2f;
    border-radius: 100% 0 0 0;
}

#red {
    width: 120px;
    height: 120px;
    background-color: #ca0a0a;
    border-radius: 0 100% 0 0;
}

#yellow {
    width: 120px;
    height: 120px;
    background-color: #e7e41f;
    border-radius: 0 0 0 100%;
}

#blue {
    width: 120px;
    height: 120px;
    background-color: #216adf;
    border-radius: 0 0 100% 0;
}

.game-button {
    cursor: pointer;
    opacity: 0.7; 
    transition: opacity 0.3s ease; 
}

.game-button.active {
    opacity: 1; 
}

.score {
    font-family: Impact, sans-serif;
    font-weight: 500;
    font-size: 2em;
    color: #535353;
    margin-bottom: 5px;
}

#gameOverMessage p {
    margin-top: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    font-weight: 1000;
    color: red;
}

#restartButton {
    background-color: #132fbb; 
    color: #ffffff;
    padding: 6px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}

.hidden {
    display: none;
}