html {
    text-align: center;
}

h1 {
    font-family: Impact, sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 3em;
    margin: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #dbdbdb;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#playerForm label {
    display: block;
    margin-bottom: 5px;
    font-family: Impact, sans-serif;
    font-weight: 200;
    font-size: 1.5em;
    margin-bottom: 5px;
}

#playerForm input {
    padding: 6px;
    border: 1px solid #464646;
    border-radius: 4px;
    width: calc(100% - 12px);
    max-width: 300px;
    margin-bottom: 5px;
    box-sizing: border-box;
}

.boton {
    background-color: #132fbb;
    color: #ffffff;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 15px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 600;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(2, 120px);
    grid-gap: 10px;
    margin-bottom: 10px;
    background-color: #202020;
    padding: 2%;
    border-radius: 50%;
}


#green {
    width: 120px;
    height: 120px;
    background-color: #1eaa2f;
    border-radius: 100% 0 0 0;
}

#red {
    width: 120px;
    height: 120px;
    background-color: #ca0a0a;
    border-radius: 0 100% 0 0;
}

#yellow {
    width: 120px;
    height: 120px;
    background-color: #e7e41f;
    border-radius: 0 0 0 100%;
}

#blue {
    width: 120px;
    height: 120px;
    background-color: #216adf;
    border-radius: 0 0 100% 0;
}

.game-button {
    opacity: 0.7;
}